[datadog]
name=Datadog, Inc.
baseurl=https://yum.{{datadog_repo_url}}/stable/6/{{datadog_arch}}/
enabled=1
gpgcheck=1
repo_gpgcheck=0
priority=1
gpgkey=https://yum.{{datadog_repo_url}}/DATADOG_RPM_KEY.public
       https://yum.{{datadog_repo_url}}/DATADOG_RPM_KEY_E09422B3.public
