---
# MANAGED_BY_ANSIBLE
api_key: {{datadog_api_key}}
dd_url: https://app.datadoghq.com
hostname: {{inventory_hostname}}
#
tags:
{% if hostvars[inventory_hostname]['datadog'] is defined %}
{% for key, value in hostvars[inventory_hostname]['datadog'].items() %}
- {{key}}:{{value}}
{% endfor %}
{% endif %}
{% if datadog_tags is defined %}
{% for key, value in datadog_tags.items() %}
- {{key}}:{{value}}
{% endfor %}
{% endif %}
{% if datadog_extra_tags is defined %}
{% for key, value in datadog_extra_tags.items() %}
- {{key}}:{{value}}
{% endfor %}
{% endif %}
{% if hostvars[inventory_hostname]['datadog'] is not defined %}
- zzdummy:whatever
{% endif %}
#
{% if (ct_container | default('SKIP')) == 'docker' %}
logs_enabled: true
listeners:
  - name: docker
config_providers:
  - name: docker
    polling: true
logs_config:
  container_collect_all: true
{% endif %}
...
