{{ansible_managed|comment}}
api_key: {{datadog_api_key}}
dd_url: https://app.datadoghq.com
hostname: {{inventory_hostname}}
{% if datadog_tags is defined and datadog_tags|length > 0 %}
tags:
{% for tag in datadog_tags %}
- {{tag.key}}:{{tag.value}}
{% endfor %}
{% if datadog_extra_tags is defined %}
{% for tag in datadog_extra_tags %}
- {{tag.key}}:{{tag.value}}
{% endfor %}
{% endif %}
{% endif %}
{% if ct_container is defined and ct_container == 'docker' %}
logs_enabled: true
listeners:
  - name: docker
config_providers:
  - name: docker
    polling: true
logs_config:
  container_collect_all: true
{% endif %}
# end
